*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding: 20px;
    background: darkblue;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.todoContainer{
    padding: 20px;
    width: 60%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoContainer h1{
    text-align: center;
    font-size: 40px;
}

.todoInput{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.todoInput input{
    width: 80%;
}

.todoInput button{
    width: 15%;
    background: green;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}

.todoInput input, button{
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.listContainer{
    margin-top: 20px;
    width: 100%;
}

.listContainer li{
    margin-top: 10px;
    list-style: none;
    background: darkblue;
    color: whitesmoke;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}


